<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<main role="main" layout:fragment="content">

<!-- menu  -->			

<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li class="active">
						<a th:href="@{/index}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> 发票管理后台 </span>
						</a>

						<b class="arrow"></b>
					</li>



					<li class="">
						<a th:href="@{/pages/user/changepw}">
							<i class="menu-icon fa fa-tachometer"></i>

							<span class="menu-text">
								修改密码

								
							</span>
							
						</a>

						<b class="arrow"></b>
					</li>
				 
					<li class="" th:if="${session.username == 'admin'}">
						<a th:href="@{/listUser}">
							<i class="menu-icon fa fa-calendar"></i>

							<span class="menu-text">
								用户管理

								
							</span>
							
						</a>

						<b class="arrow"></b>
					</li>
				
					
					<li class="">
						<a th:href="@{/addInvoice}" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text"> 发票录入 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a th:href="@{/addInvoice}">
									<i class="menu-icon fa fa-caret-right"></i>
									发票录入
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a th:href="@{/listInvoice}">
									<i class="menu-icon fa fa-caret-right"></i>
									发票查询
								</a>

								<b class="arrow"></b>
							</li>

							

							

						</ul>
					</li>

					


					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-tag"></i>
							<span class="menu-text"> 统计分析 </span>

							
						</a>

						
					</li>

					
					
				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
	
<!-- menu end -->	
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">用户管理</a>
							</li>
							
						</ul><!-- /.breadcrumb -->

						
					</div>
				
				</div>
				
				<div class="page-content">
					<div class="page-header">
							<h1>
								发票管理
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									发票录入
								</small>
							</h1>
						</div><!-- /.page-header -->
                	<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" id="form">
								
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 发票编号 </label>

										<div class="col-sm-9">
											<input type="text" id="code" name="code" placeholder="" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 录入者 </label>

										<div class="col-sm-9">
											<input type="text" id="registerUsername" name="registerUsername" th:value="${session.username}" class="col-xs-10 col-sm-5" readonly />
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> 录入时间 </label>

										<div class="col-sm-9">
											<input type="text" id="registerTime" name="registerTime"  class="col-xs-10 col-sm-5" readonly>
										</div>
									</div>
									
									
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-primary" type="button" id="btnForm">
												
												确定
											</button>

											
										</div>
									
								</form>
							</div>
						</div>                  
                               
				</div>
</div>

<script type="text/javascript">
		

$(document).ready(function () {
	

	   var date=new Date();
	   var year=date.getFullYear();
	   var month=date.getMonth()+1;
	   var day=date.getDate();
	   var hour=date.getHours(); //获取系统时，
	   var minutes = date.getMinutes(); //分
	   var second = date.getSeconds();
	   var time =year+"-"+month+"-"+day + " " + hour + ":" + minutes + ":" + second;

	   $('#registerTime').val(time);
	
	
    $("#btnForm").click(function () {
        var formData = new FormData();
        formData.append("code",$("#code").val());
        formData.append("registerUsername",$("#registerUsername").val());
		formData.append("registerTime", $('#registerTime').val());
        $.ajax({
            url:baseurl + "/AddInvoiceService",
            method:"post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if(response.code == 200) {

                        window.location.href = baseurl + "/listInvoice";
                }
                else {
                    bootbox.alert(response.message);
                }
            },
            failure: function (response) {
                bootbox.alert("录入错误");
            }
        });
    });
});


		
       
	</script>		
		
</main>