<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<main role="main" layout:fragment="content">
<!-- menu  -->			

<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li class="active">
						<a th:href="@{/index}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> 发票管理后台 </span>
						</a>

						<b class="arrow"></b>
					</li>



					<li class="">
						<a th:href="@{/pages/user/changepw}">
							<i class="menu-icon fa fa-tachometer"></i>

							<span class="menu-text">
								修改密码

								
							</span>
							
						</a>

						<b class="arrow"></b>
					</li>
				 
					<li class="" th:if="${session.username == 'admin'}">
						<a th:href="@{/listUser}">
							<i class="menu-icon fa fa-calendar"></i>

							<span class="menu-text">
								用户管理

								
							</span>
							
						</a>

						
					</li>
				
					
					<li class="">
						<a th:href="@{/addInvoice}" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text"> 发票录入 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a th:href="@{/addInvoice}">
									<i class="menu-icon fa fa-caret-right"></i>
									发票录入
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a th:href="@{/listInvoice}">
									<i class="menu-icon fa fa-caret-right"></i>
									发票查询
								</a>

								<b class="arrow"></b>
							</li>

							

							

						</ul>
					</li>

					


					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-tag"></i>
							<span class="menu-text"> 统计分析 </span>

							
						</a>

						
					</li>

					
					
				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
	
<!-- menu end -->	
		<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">管理</a>
							</li>
							
						</ul><!-- /.breadcrumb -->

						
					</div>
					hello
				</div>
				
				<div class="page-content">
					<div class="page-header">
						<button type="submit" class="btn btn-success btn-xs" onclick="window.location='/addInvoice'">录入发票</button>
							
					</div>
				
					<div class="page-header">
							<h1>
								发票管理
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									发票列表
								</small>
							</h1>
						</div><!-- /.page-header -->
				
					<div class="row">
                        <div class="col-xs-12">
						
							<table id="invoiceTable" class="table  table-bordered table-hover">

        <thead>
            <tr>
               
                <th>发票编号</th>
                <th>录入用户</th>
                <th>录入时间</th>
            </tr>
        </thead>
 
      
 
        <tbody>
            
			

				
				<tr th:each="invoice : ${invoiceList}">
					
					 	<td th:text="${invoice.code}">id</td>

		                <td th:text="${invoice.registerUsername}">code</td>

		               
		                <td th:text="${invoice.registerTime}"> registerTime	</td>
				</tr>

            

        </tbody>
    </table>                                    
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->

							
                        </div>
                    </div><!-- /.row -->
				</div>


<script type="text/javascript">
		
	

$(document).ready(function() {
	jQuery(function($) {
		var oTable1 = $('#invoiceTable').dataTable({

			"oLanguage": {
                "sLengthMenu": "每页显示   _MENU_  条记录",
                "sZeroRecords": "对不起，查询不到任何相关数据",
                "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                "sInfoEmtpy": "找不到相关数据",
                "sInfoFiltered": "数据表中共有 _TOTAL_ 条记录)",
                "sProcessing": "正在加载中...",
                "sSearch": "搜索",
                "sUrl": "", //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
                "oPaginate": {
                    "sFirst":    "第一页",
                    "sPrevious": " 上一页 ",
                    "sNext":     " 下一页 ",
                    "sLast":     " 最后一页 "
                }
            }, //多语言配置
        
    });
});
});
		
		
       
	</script>		
	






</main>